main{
    background-color: var(--color-bg);
    height: 100vh;
    position: relative;
    /* z-index: -2; */
    display: flex;
    justify-content: flex-start;
    align-items: end;
}

nav {
    width: 100vw;
    height: 5rem;
    display: flex;
    background-color: #a6eca87a;
    border-radius: 10px;
    backdrop-filter: blur(2px);
    border: 1px solid var(--color-base);
    box-shadow: 0px 0px 10px var(--color-base);

    align-items: end;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    /* background: #000; */
}

.navbar-container > .logo{
    height: 100%;
    /* background-color: black; */
    display: flex;
    align-items: center;
}

.navbar-container > .logo > .logo-img{
    aspect-ratio: 1 / 1;
    height: 100%;
}

.navbar-container > .logo > p{
    font-style: italic;
    font-family: 'Fredoka', sans-serif;

}
nav > .navbar-container{
    
    padding: 0.2rem 1rem;
    
    width: 100%;
    height: 5rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

nav > h1{
    /* font-size: ; */
    font-weight: 500;
}

.path-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    gap: 2rem;
    /* background-color: red; */
}
.path-container > .path{
    cursor: pointer;
}

.bg-img-container{
    width: 100%;
    /* width: 140rem; */
    height: 100vh;
    /* overflow: hidden; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: #000; */
    position: absolute;
    transform: none;
    transition: transform 0.2s ease-out, filter 0.2s ease-out;
    will-change: transform, filter;
    object-fit: cover;

}
.bg-img{
    width: 70%;
    /* height: 100%; */
    background-position: center;
    object-fit: contain;
    position: absolute;
    z-index: 1;
    opacity: 0.3;
}



.strip-img,.icons-container{
    width: 120%;
    /* height: 300px; */
    position: absolute;
    z-index: 2;
    cursor: pointer;
    right: 0;
}

.strip-img{
    bottom: -14rem;
}

.icons-container{
    position: relative;
    /* background-color: red; */
    height: 100vh;
    bottom: 0;
    width: 100%;
    /* background-color: red; */
    z-index: 1;
}


/* .man-img{
    width: 34%;
    position: absolute;
    bottom: 0;
    right: 1rem;
    z-index: 6;
    cursor: pointer;
} 
*/
/* .man-img{
    width: 90%;
    height: 300px;
    position: absolute;
    bottom: -14rem;
    left: 0;
    z-index: 6  ;
    cursor: pointer;
} */

.bg-img-container > .icons-container > .icons {
    position: absolute;
    right: 10vw;
    bottom: 30vh;
    width: 30%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    border: 3px dashed #a5c1d66b;


    rotate: 0;
    
    /* text-shadow: 0px 0px 12px var(--color-bg); */
    /* z-index: ; */
}

.bg-img-container > .icons-container > .icons img {
    position: absolute;
    /* width: 6em; */
    aspect-ratio: 1 / 1;
    width: 15%;
    object-fit: contain;
    transform-origin: center center;
    opacity: 0.8;
}

/* arrange in half-circle using nth-child */
.bg-img-container > .icons-container > .icons img:nth-child(1) { 
    transform: rotate(-60deg) translateY(-15vw) rotate(60deg); 
}
.bg-img-container > .icons-container > .icons img:nth-child(2) { 
    transform: rotate(0deg) translateY(-15vw) rotate(0deg); 
}
.bg-img-container > .icons-container > .icons img:nth-child(3) { 
    transform: rotate(60deg) translateY(-15vw) rotate(-60deg); 
}
.bg-img-container > .icons-container > .icons img:nth-child(4) { 
    transform: rotate(120deg) translateY(-15vw) rotate(-120deg);
 }
.bg-img-container > .icons-container > .icons img:nth-child(5) { 
    transform: rotate(-120deg) translateY(-15vw) rotate(120deg); 
}
.bg-img-container > .icons-container > .icons img:nth-child(6) { 
    transform: rotate(180deg) translateY(-15vw) rotate(-180deg); 
}

.bg-img-container > .icons-container > .icons > .icon {
    transition: all 0.4s ease;
    cursor: pointer;
    /* z-index: 9; */
}
.bg-img-container > .icons-container > .icons > .icon:hover {
    scale: 1.06;
    opacity: 1;
}

/* .man-img:hover{
    
} */

.text-container{
    /* background: #000; */
    position: relative;
    width: 50%;
    z-index: 10;
    justify-self: flex-start;
    align-self: flex-start;
}

.text-container > .text-box{
    width: 100%;
    margin-bottom: 1rem;
}

.text-box > h1{ 
    font-family: 'Fredoka', sans-serif;
}

.vid-box{
    margin-top: 8vh;
    margin-bottom: 1vh;
    width: 60%;
    height: 30%;
    /* background-color: red; */
}
.vid-box > .youtube-embed{
    width: 45rem;
    aspect-ratio: 16 / 9;
    border-radius: 20px;
    overflow: hidden;
    border: 2px solid var(--color-text);
    box-shadow: 1px 0px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 1px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 0px 5px 0px rgba(0,0,0,0.75);
    transition: all 0.25s ease;
    cursor: pointer;
}

.vid-box > .youtube-embed:hover{
    box-shadow: 1px 0px 17px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 1px 0px 17px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 0px 17px 0px rgba(0,0,0,0.75);
}


#lecture-section {
    margin-top: 20vh;
    /* background-color: black; */
}

#lecture-section > .header{
    text-align: center;
    font-family:'Fredoka', sans-serif;
}
#lecture-section > .header > p{
    color: var(--color-text-secondary);
    font-family: 'Poppins', sans-serif;
}

#video-section{
    display: flex;
    justify-content: space-around;
    row-gap: 2rem;
    /* overflow-x: auto;
    scroll-snap-type: x mandatory; */
    padding-bottom: 1rem;
    margin: 2rem 0;
    width: 100%;
    max-width: 100%;
    flex-wrap: wrap;
}
#video-section > .video{
    /* scroll-snap-align: start; */
    flex: 0 0 auto;
    width: 350px;
}

.video > iframe {
    width: 100%;
    aspect-ratio: 16 / 9; /* keeps perfect video shape */
    display: block;
    border-radius: 5px;
}

@media (max-width: 599px) {

    main{
        justify-content: flex-start;
        align-items: start;
    }

    .vid-box{
        display: none;
    }

    .text-container{
        width: 100%;
        margin-top: 15vh;
    }

    .bg-img{
        height: 100%;
        /* height: 100%; */

        object-fit: contain;
    }
    
    .strip-img{
        width: 220%;
        bottom: -6rem;
        right: 0;
    }
    
}