@import "tailwindcss";

@theme {
    --font-fredoka: "Fredoka", sans-serif;
    --font-poppins: Poppins, sans-serif;

    --color-bg: #CDEFFF;
    --color-base: #A6ECA8;
    --color-primary: #00B5FF;
    --color-secondary: #FF5BC4;
    --color-highlight: #CBA0FF;
    --color-accent: #A8E6CF;
    --color-text: #212121;
    --color-text-secondary: #555555;
    --color-complimentry: #FFD93B;

    --font-heading: "Fredoka", sans-serif;
    --font-body: "Poppins", sans-serif;
}



.custom-shape-left {
    clip-path: polygon(
        0% 0%, 100% 0%, 100% 20%,
        85% 30%, 80% 45%, 90% 60%,
        100% 75%, 100% 100%, 0% 100%
    );
}

/* Right div shape (mirror) */
.custom-shape-right {
    clip-path: polygon(
        0% 0%, 100% 0%, 0% 20%,
        15% 30%, 20% 45%, 10% 60%,
        0% 75%, 0% 100%, 100% 100%
    )
}